.page-content article.a1 {
  background-color: #a2c5d8;
}

.page-content article.a1 header h1 {
  color: #34a0ca;
}

.page-content article.a1 section h2 {
  color: white;
}

.page-content article.a1 section a {
  color: #0990c5;
}

.page-content article.a1 section a:hover {
  color: #0d668a;
}

.page-content article.a2 {
  background-color: #ffa5af;
}

.page-content article.a2 header h1 {
  color: #e2636f;
}

.page-content article.a2 section h2 {
  color: white;
}

.page-content article.a2 section a {
  color: #ca4c59;
}

.page-content article.a2 section a:hover {
  color: #ac2c39;
}

.page-content article.a3 {
  background-color: #380c05;
}

.page-content article.a3 header h1 {
  color: #8b324d;
}

.page-content article.a3 section h2 {
  color: white;
}

.page-content article.a3 section a {
  color: #a8395b;
}

.page-content article.a3 section a:hover {
  color: #c22957;
}

.page-content article.a4 {
  background-color: #d8e7e4;
}

.page-content article.a4 header h1 {
  color: #962059;
}

.page-content article.a4 section h2 {
  color: #3f3f3f;
}

.page-content article.a4 section a {
  color: #a72262;
}

.page-content article.a4 section a:hover {
  color: #c01c6b;
}

.page-content article.a5 {
  background-color: black;
}

.page-content article.a5 header h1 {
  color: #44be8c;
}

.page-content article.a5 section h2 {
  color: white;
}

.page-content article.a5 section a {
  color: #56c094;
}

.page-content article.a5 section a:hover {
  color: #6fe4b3;
}

.page-content article.a6 {
  background-color: #ffa5af;
}

.page-content article.a6 header h1 {
  color: white;
}

.page-content article.a6 section h2 {
  color: #da4958;
}

.page-content article.a6 section a {
  color: white;
}

.page-content article.a6 section a:hover {
  color: #f0f0f0;
}

.page-content article.a7 {
  background-color: #3b4049;
}

.page-content article.a7 header h1 {
  color: #687280;
}

.page-content article.a7 section h2 {
  color: white;
}

.page-content article.a7 section a {
  color: #7e899c;
}

.page-content article.a7 section a:hover {
  color: #929fb6;
}

.page-content article.a8 {
  background-color: #d6d6d6;
}

.page-content article.a8 header h1 {
  color: black;
}

.page-content article.a8 section h2 {
  color: white;
}

.page-content article.a8 section a {
  color: black;
}

.page-content article.a8 section a:hover {
  color: #383838;
}

.page-content article.a9 {
  background-color: #16100e;
}

.page-content article.a9 header h1 {
  color: #795347;
}

.page-content article.a9 section h2 {
  color: white;
}

.page-content article.a9 section a {
  color: #8f5e4d;
}

.page-content article.a9 section a:hover {
  color: #a15f46;
}

.page-content article.a10 {
  background-color: #312712;
}

.page-content article.a10 header h1 {
  color: #855e10;
}

.page-content article.a10 section h2 {
  color: white;
}

.page-content article.a10 section a {
  color: #aa7e24;
}

.page-content article.a10 section a:hover {
  color: #c78b12;
}

.page-content article.a11 {
  background-color: #020c15;
}

.page-content article.a11 header h1 {
  color: #1d70b8;
}

.page-content article.a11 section h2 {
  color: white;
}

.page-content article.a11 section a {
  color: #3c89cc;
}

.page-content article.a11 section a:hover {
  color: #1181e2;
}

.page-content article.a12 {
  background-color: #26261c;
}

.page-content article.a12 header h1 {
  color: #b99c61;
}

.page-content article.a12 section h2 {
  color: white;
}

.page-content article.a12 section a {
  color: #b3965e;
}

.page-content article.a12 section a:hover {
  color: #d8b266;
}
/*# sourceMappingURL=style.css.map */