$background-color: rgb(10, 0, 10);
$header-background-color: rgb(0, 10, 32);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: Tahoma, Verdana, sans-serif;
    background-color: $background-color;
}


.page-content {
    overflow: hidden;

    .go-back-to-homepage {
        position: absolute;
        top: 5px; 
        left: 5px;
        padding: 10px;
        background-color: rgb(192, 14, 77);
        font-weight: bold;
        text-decoration: none;
        color: white;
        z-index: 99;
    }

    .page-header {
        width: 100vw;
        height: 100vh;
        background-color: $header-background-color;

        aside {
            width: 40vw;
            height: 100vh;
            position: absolute;
            left: 0;

            img {
                width: 100%;
                height: 100%;
                opacity: 0.9;
            }
        }

        section {
            width: 60vw;
            height: 100vh;
            position: absolute;
            right: 0;
            padding-left: 100px;
            background-color: rgba($background-color, 0.3);

            .song {
                font-family: monospace;
                color: white;
                font-size: 20px;
                margin-bottom: 4px;

                &:first-child {
                    margin-top: 30%;
                }

                .song-name {

                    .song-number {
                        margin-right: 16px;
                    }
                }
            }
        }
    }

    article {
        height: 120vh;
        padding-bottom: 10vh;
        display: flex;
        align-items: flex-end;

        header {
            position: absolute;
            z-index: 1;
            width: 100%;

            h1 {
                color: white;
                font-size: 10rem;
            }
        }

        section {
            width: 40%;
            height: 100%;
            display: flex;
            align-items: center;

            h2 {
                font-size: 2rem;

                a {
                    text-decoration: none;
                }
            }
        }

        aside {
            width: 60%;
            height: 100%;
            position: relative;

            img {
                // change here maybeeeeeeeeeeeeeeeeeeee
                width: 100%;
                max-height: 100%;
                position: absolute;
                bottom: 30px;
                margin: auto;
            }
        }

        &.image-right {
            flex-direction: row;
            
            header {
                text-align: right;
            }

            section {
                justify-content: flex-start;

                h2 {
                    padding: 0 0 0 40px;

                    &:last-child {
                        padding: 0 20px 0 40px;
                    }
                }
            }
        }

        &.image-left {
            flex-direction: row-reverse;
            
            section {
                justify-content: flex-end;

                h2 {
                    padding: 0 40px 0 0;

                    &:first-child {
                        padding: 0 40px 0 20px;
                    }
                }
            }

            header {
                text-align: left;
            }
        }
    }
}

@media only screen and (max-width: 1280px) {
    .page-content .page-header {
        aside {
            width: 50vw;
        }

        section {
            width: 50vw;
            padding-left: 50px;

            .song:first-child {
                margin-top: 40%;
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    .page-content .page-header {
        aside {
            width: 80vw;
            margin: 0 10vw;
            
            img {
                opacity: 0.4;
            }
        }

        section {
            width: 100vw;
            padding-left: 45%;
            padding-right: 20px;

            .song:first-child {
                margin-top: 30%;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .page-content .page-header {
        section {
            padding-left: 30%;
        }
    
        aside {
            width: 100vw;
            margin: 0;
        }
    }
}

@media only screen and (max-width: 520px) {
    .page-content .page-header section {
        padding-left: 20px;

        .song:first-child {
            margin-top: 100px;
        }
    }
}