* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: Tahoma, Verdana, sans-serif;
}

.page-content {
  overflow: hidden;
}

.page-content .go-back-to-homepage {
  position: absolute;
  top: 5px;
  left: 5px;
  padding: 10px;
  background-color: #c00e4d;
  font-weight: bold;
  text-decoration: none;
  color: white;
  z-index: 101;
}

.page-content .go-back-to-start {
  position: fixed;
  right: 25px;
  bottom: 15px;
  padding: 16px;
  background-color: #105975;
  font-weight: bold;
  text-decoration: none;
  color: white;
  z-index: 99;
}

.page-content .go-back-to-start:hover {
  background-color: #026992;
}

.page-content .page-header {
  position: relative;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background: url("../../static/bike.jpg") no-repeat no-repeat;
  background-size: cover;
}

.page-content .page-header section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 100px;
  background-color: rgba(0, 0, 0, 0.5);
}

.page-content .page-header section .song-column {
  width: 410px;
  margin-top: 10%;
  padding: 30px 15px 30px 30px;
  background-color: rgba(0, 0, 0, 0.6);
}

.page-content .page-header section .song-column:first-child {
  margin-right: 60px;
}

.page-content .page-header section .song-column .song {
  font-family: monospace;
  font-size: 26px;
  margin-bottom: 5px;
}

.page-content .page-header section .song-column .song .song-name {
  text-decoration: none;
  color: white;
}

.page-content .page-header section .song-column .song .song-name .song-number {
  margin-right: 16px;
}

.page-content article {
  height: 120vh;
  padding-bottom: 10vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  overflow: hidden;
}

.page-content article header {
  z-index: 2;
  position: absolute;
  width: 100%;
}

.page-content article header h1 {
  font-size: 12rem;
}

.page-content article header.header-top {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  top: 0;
}

.page-content article header.header-top span {
  position: absolute;
  font-size: 6rem;
  font-weight: bold;
  opacity: 0.8;
  margin-left: 24px;
}

.page-content article header.header-top h1 {
  width: 200vw;
  font-size: 24rem;
  overflow: hidden;
  opacity: 0.04;
}

.page-content article section {
  width: 40%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 3;
}

.page-content article section h2 {
  font-size: 2rem;
}

.page-content article section h2 a {
  text-decoration: none;
}

.page-content article section h2:first-child a {
  display: block;
}

.page-content article aside {
  z-index: 1;
  width: 60%;
  height: 100%;
  position: relative;
}

.page-content article aside img {
  width: 100%;
  max-height: 100%;
  position: absolute;
  bottom: 30px;
  margin: auto;
}

.page-content article.image-right {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.page-content article.image-right header {
  text-align: right;
}

.page-content article.image-right header.header-top {
  text-align: left;
}

.page-content article.image-right section {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.page-content article.image-right section h2 {
  padding: 0 0 0 40px;
}

.page-content article.image-right section h2:last-child {
  padding: 0 20px 0 40px;
}

.page-content article.image-left {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.page-content article.image-left section {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.page-content article.image-left section h2 {
  padding: 0 40px 0 0;
}

.page-content article.image-left section h2:first-child {
  padding: 0 40px 0 20px;
}

.page-content article.image-left header {
  text-align: left;
}

@media only screen and (min-width: 1921px) {
  .page-content .go-back-to-homepage {
    top: 15px;
    left: 15px;
    padding: 30px;
    font-size: 1.5rem;
  }
  .page-content .page-header section .song-column {
    width: 600px;
    padding: 60px 30px 60px 60px;
  }
  .page-content .page-header section .song-column .song {
    font-size: 36px;
  }
  .page-content article header h1 {
    font-size: 14rem;
  }
  .page-content article header.header-top span {
    font-size: 10rem;
    margin-left: 36px;
  }
  .page-content article header.header-top h1 {
    font-size: 36rem;
  }
  .page-content article section h2 {
    font-size: 3.5rem;
  }
}

@media only screen and (max-width: 1280px) {
  .page-content .page-header {
    height: 960px;
  }
  .page-content .page-header section {
    padding: 0 50px;
  }
  .page-content .page-header section .song-column {
    margin-top: 8%;
  }
  .page-content article {
    height: 960px;
  }
}

@media only screen and (max-width: 1024px) {
  .page-content .page-header section {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .page-content article section {
    width: 100%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .page-content article section h2 {
    margin-top: 16px;
  }
  .page-content article aside {
    width: 100%;
    position: absolute;
  }
  .page-content article aside img {
    bottom: 0;
  }
  .page-content article.image-right section {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media only screen and (min-width: 769px) and (max-width: 830px) {
  .page-content .page-header section .song-column .song {
    font-size: 23px;
  }
}

@media only screen and (max-width: 768px) {
  .page-content .page-header {
    height: 768px;
  }
  .page-content .page-header section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .page-content .page-header section .song-column:first-child {
    margin-right: 0;
  }
  .page-content article {
    height: 768px;
  }
  .page-content article .header-top h1 {
    display: none;
  }
  .page-content article section {
    padding-top: 130px;
  }
}

@media only screen and (max-width: 565px) {
  .page-content article.image-right section, .page-content article.image-left section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .page-content article.image-right section h2, .page-content article.image-left section h2 {
    padding: 0 40px 0 40px;
  }
  .page-content article.image-right section h2:first-child, .page-content article.image-left section h2:first-child {
    padding: 0 40px 20px 40px;
  }
}

@media only screen and (min-width: 465px) and (max-width: 565px) {
  .page-content article aside img {
    margin-bottom: -70px;
  }
}

@media only screen and (max-width: 520px) {
  .page-content .page-header section .song-column {
    margin-top: 100px;
  }
}

@media only screen and (max-width: 480px) {
  .page-content .page-header section {
    padding: 0;
  }
  .page-content .page-header section .song-column {
    width: 100%;
    padding-left: 50px;
    margin-top: 60px;
  }
  .page-content article.image-right.a6 section h2, .page-content article.image-right.a6 section h2:first-child, .page-content article.image-right.a7 section h2, .page-content article.image-right.a7 section h2:first-child, .page-content article.image-left.a6 section h2, .page-content article.image-left.a6 section h2:first-child, .page-content article.image-left.a7 section h2, .page-content article.image-left.a7 section h2:first-child {
    padding: 0 40px 20px 20px;
  }
}

@media only screen and (max-width: 360px) {
  .page-content .page-header section .song-column {
    padding-left: 20px;
  }
  .page-content article section h2 {
    font-size: 1.75rem;
  }
}

@media only screen and (max-width: 325px) {
  .page-content .page-header section .song-column .song {
    font-size: 22px;
  }
  .page-content article.a6 section h2, .page-content article.a6 section h2:first-child, .page-content article.a7 section h2, .page-content article.a7 section h2:first-child, .page-content article.a12 section h2, .page-content article.a12 section h2:first-child {
    padding-left: 10px;
  }
}
/*# sourceMappingURL=style.css.map */