* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: Tahoma, Verdana, sans-serif;
}

.page-content {
  overflow: hidden;
}

.page-content .go-back-to-homepage {
  position: absolute;
  top: 5px;
  left: 5px;
  padding: 10px;
  background-color: #c00e4d;
  font-weight: bold;
  text-decoration: none;
  color: white;
  z-index: 99;
}

.page-content .page-header {
  width: 100vw;
  height: 100vh;
  background: url("../../static/bike.jpg") no-repeat no-repeat;
  background-size: cover;
}

.page-content .page-header section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 0 100px;
  background-color: rgba(0, 0, 0, 0.5);
}

.page-content .page-header section .song-column {
  width: 410px;
  margin-top: 10%;
  padding: 30px 15px 30px 30px;
  background-color: rgba(0, 0, 0, 0.6);
}

.page-content .page-header section .song-column:first-child {
  margin-right: 60px;
}

.page-content .page-header section .song-column .song {
  font-family: monospace;
  color: white;
  font-size: 26px;
  margin-bottom: 5px;
}

.page-content .page-header section .song-column .song .song-name .song-number {
  margin-right: 16px;
}

.page-content article {
  height: 120vh;
  padding-bottom: 10vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.page-content article header {
  z-index: 2;
  position: absolute;
  width: 100%;
}

.page-content article header h1 {
  font-size: 12rem;
}

.page-content article header.header-top {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  top: 0;
  opacity: 0.05;
}

.page-content article header.header-top h1 {
  width: 200vw;
  font-size: 24rem;
  overflow: hidden;
}

.page-content article header.header-bottom h1 {
  word-break: break-all;
}

.page-content article section {
  width: 40%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 3;
}

.page-content article section h2 {
  font-size: 2rem;
}

.page-content article section h2 a {
  text-decoration: none;
}

.page-content article aside {
  z-index: 1;
  width: 60%;
  height: 100%;
  position: relative;
}

.page-content article aside img {
  width: 100%;
  max-height: 100%;
  position: absolute;
  bottom: 30px;
  margin: auto;
}

.page-content article.image-right {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.page-content article.image-right header {
  text-align: right;
}

.page-content article.image-right header.header-top {
  text-align: left;
}

.page-content article.image-right section {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.page-content article.image-right section h2 {
  padding: 0 0 0 40px;
}

.page-content article.image-right section h2:last-child {
  padding: 0 20px 0 40px;
}

.page-content article.image-left {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.page-content article.image-left section {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.page-content article.image-left section h2 {
  padding: 0 40px 0 0;
}

.page-content article.image-left section h2:first-child {
  padding: 0 40px 0 20px;
}

.page-content article.image-left header {
  text-align: left;
}

@media only screen and (max-width: 1280px) {
  .page-content .page-header section {
    padding: 0 50px;
  }
  .page-content .page-header section .song-column {
    margin-top: 8%;
  }
}

@media only screen and (max-width: 1024px) {
  .page-content .page-header section {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (min-width: 769px) and (max-width: 830px) {
  .page-content .page-header section .song-column .song {
    font-size: 23px;
  }
}

@media only screen and (max-width: 768px) {
  .page-content .page-header section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .page-content .page-header section .song-column:first-child {
    margin-right: 0;
  }
}

@media only screen and (max-width: 520px) {
  .page-content .page-header section .song-column {
    margin-top: 100px;
  }
}
/*# sourceMappingURL=style.css.map */