* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    //font-family: "Arial Black", Arial, sans-serif;
}


.page-content {
    overflow: hidden;

    .go-back-to-homepage {
        position: absolute;
        top: 5px; 
        left: 5px;
        padding: 10px;
        background-color: rgb(192, 14, 77);
        font-weight: bold;
        text-decoration: none;
        color: white;
    }
}
